._concierge_chat_hidden {
	display: none;
}

._concierge_title {
	height: 30px;
	background: #5aaafa;
}

._concierge_title img {
	float: right;
	cursor: pointer;
}

._concierge_title p {
	margin: 0;
	padding: 5px 0 0 5px;
	color: #03274b;
	font-weight: bold;
	width: 200px;
}

._concierge_chat_container {
	border: 3px solid #5aaafa;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 0px;
	background: #e8f1fa;
	height: 350px;
	width: 250px;
	position: fixed;
	right: 30px;
	bottom: 0;
  font-family: "Goudy Bookletter 1911", sans-serif;
  z-index: 1000;
}

._concierge_chat_container._concierge_min {
	height: 30px;
	overflow: hidden;
}

._concierge_chat_container._concierge_min button {
	display: none!important;
}

._concierge_chat_id_screen {
	height: 317px;
	padding: 20px;
}

._concierge_chat_id_screen p {
	margin: 0;
	padding: 0;
	text-align: center;
}

._concierge_chat_id_screen p._concierge_chat_error {
	color: red;
	margin-top: 10px;
}

._concierge_chat_id_screen input {
	width: 100%;
	border: 1px solid grey;
	margin-top: 20px;
  padding: 5px 8px;
  font-size: 18px;
  line-height: 1.3;
  border-radius: 6px;
}

._concierge_chat_id_screen button {
	color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

._concierge_chat_messages {
	height: 253px;
	padding: 0px;
	overflow: scroll;
	border-bottom: 1px solid #ddd;
}

._concierge_chat_message_list {
	margin: 0;
	padding: 10px;
	list-style: none;
	font-size: 14px;
}

._concierge_chat_message_list li {
	border-bottom: 1px solid #ddd;
  width: 100%;
}

._concierge_chat_message_list li p {
	margin: 0;
	padding: 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

._concierge_chat_message_list li p._concierge_chat_msg_header {
	font-weight: bold;
}

._concierge_chat_msg {
	padding: 3px;
  margin: 0;
  width: 220px;
  border: none;
  height: 60px;
  background: transparent;
}

._concierge_chat_msg:focus {
	border: none;
	outline: none;
}

._concierge_chat_btn {
	color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
	position: absolute;
	bottom: 2px;
	height: 60px;
}